<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button>Rafraîchir</button>
      <button routerLink="create">Ajouter</button>
      <button>Supprimer</button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Pelle</td>
          <td class="price">5.30 €</td>
          <td class="qty">32</td>
        </tr>
        <tr>
          <td class="name">Pince</td>
          <td class="price">6.71 €</td>
          <td class="qty">20</td>
        </tr>
        <tr>
          <td class="name">Marteau</td>
          <td class="price">5.00 €</td>
          <td class="qty">15</td>
        </tr>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">2.36 €</td>
          <td class="qty">110</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
