<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam architecto
    quis iusto tempore! Quae dolorum labore, tenetur eius aspernatur
    reprehenderit? Nulla neque totam odit vitae mollitia eveniet sapiente nihil
    odio?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, qui in
    inventore repudiandae animi rem rerum eaque accusamus omnis distinctio
    maiores porro nobis minima atque natus. Esse cum consectetur vel?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
    assumenda sunt officiis consequatur, dolores qui! Incidunt aut culpa nostrum
    quo libero animi! Obcaecati eum laboriosam repellendus saepe deserunt rerum
    quidem optio repellat, perferendis quia, itaque error officiis voluptatibus
    fugiat modi quasi adipisci id eius eos doloribus laborum reiciendis illum.
    Temporibus molestiae quae neque dignissimos explicabo doloribus quas minus
    cupiditate nulla at maiores obcaecati eius, aperiam, ratione necessitatibus
    magnam molestias similique harum, consequatur iste quis. Earum sed unde
    doloremque! Sit quidem, distinctio optio vel laudantium maxime! Placeat,
    aliquam sequi? Vero minus dignissimos molestiae optio enim iste voluptatem
    repellendus, voluptatibus dolores laborum?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam architecto
    quis iusto tempore! Quae dolorum labore, tenetur eius aspernatur
    reprehenderit? Nulla neque totam odit vitae mollitia eveniet sapiente nihil
    odio?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, qui in
    inventore repudiandae animi rem rerum eaque accusamus omnis distinctio
    maiores porro nobis minima atque natus. Esse cum consectetur vel?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
    assumenda sunt officiis consequatur, dolores qui! Incidunt aut culpa nostrum
    quo libero animi! Obcaecati eum laboriosam repellendus saepe deserunt rerum
    quidem optio repellat, perferendis quia, itaque error officiis voluptatibus
    fugiat modi quasi adipisci id eius eos doloribus laborum reiciendis illum.
    Temporibus molestiae quae neque dignissimos explicabo doloribus quas minus
    cupiditate nulla at maiores obcaecati eius, aperiam, ratione necessitatibus
    magnam molestias similique harum, consequatur iste quis. Earum sed unde
    doloremque! Sit quidem, distinctio optio vel laudantium maxime! Placeat,
    aliquam sequi? Vero minus dignissimos molestiae optio enim iste voluptatem
    repellendus, voluptatibus dolores laborum?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam architecto
    quis iusto tempore! Quae dolorum labore, tenetur eius aspernatur
    reprehenderit? Nulla neque totam odit vitae mollitia eveniet sapiente nihil
    odio?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, qui in
    inventore repudiandae animi rem rerum eaque accusamus omnis distinctio
    maiores porro nobis minima atque natus. Esse cum consectetur vel?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
    assumenda sunt officiis consequatur, dolores qui! Incidunt aut culpa nostrum
    quo libero animi! Obcaecati eum laboriosam repellendus saepe deserunt rerum
    quidem optio repellat, perferendis quia, itaque error officiis voluptatibus
    fugiat modi quasi adipisci id eius eos doloribus laborum reiciendis illum.
    Temporibus molestiae quae neque dignissimos explicabo doloribus quas minus
    cupiditate nulla at maiores obcaecati eius, aperiam, ratione necessitatibus
    magnam molestias similique harum, consequatur iste quis. Earum sed unde
    doloremque! Sit quidem, distinctio optio vel laudantium maxime! Placeat,
    aliquam sequi? Vero minus dignissimos molestiae optio enim iste voluptatem
    repellendus, voluptatibus dolores laborum?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam architecto
    quis iusto tempore! Quae dolorum labore, tenetur eius aspernatur
    reprehenderit? Nulla neque totam odit vitae mollitia eveniet sapiente nihil
    odio?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, qui in
    inventore repudiandae animi rem rerum eaque accusamus omnis distinctio
    maiores porro nobis minima atque natus. Esse cum consectetur vel?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
    assumenda sunt officiis consequatur, dolores qui! Incidunt aut culpa nostrum
    quo libero animi! Obcaecati eum laboriosam repellendus saepe deserunt rerum
    quidem optio repellat, perferendis quia, itaque error officiis voluptatibus
    fugiat modi quasi adipisci id eius eos doloribus laborum reiciendis illum.
    Temporibus molestiae quae neque dignissimos explicabo doloribus quas minus
    cupiditate nulla at maiores obcaecati eius, aperiam, ratione necessitatibus
    magnam molestias similique harum, consequatur iste quis. Earum sed unde
    doloremque! Sit quidem, distinctio optio vel laudantium maxime! Placeat,
    aliquam sequi? Vero minus dignissimos molestiae optio enim iste voluptatem
    repellendus, voluptatibus dolores laborum?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam architecto
    quis iusto tempore! Quae dolorum labore, tenetur eius aspernatur
    reprehenderit? Nulla neque totam odit vitae mollitia eveniet sapiente nihil
    odio?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, qui in
    inventore repudiandae animi rem rerum eaque accusamus omnis distinctio
    maiores porro nobis minima atque natus. Esse cum consectetur vel?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
    assumenda sunt officiis consequatur, dolores qui! Incidunt aut culpa nostrum
    quo libero animi! Obcaecati eum laboriosam repellendus saepe deserunt rerum
    quidem optio repellat, perferendis quia, itaque error officiis voluptatibus
    fugiat modi quasi adipisci id eius eos doloribus laborum reiciendis illum.
    Temporibus molestiae quae neque dignissimos explicabo doloribus quas minus
    cupiditate nulla at maiores obcaecati eius, aperiam, ratione necessitatibus
    magnam molestias similique harum, consequatur iste quis. Earum sed unde
    doloremque! Sit quidem, distinctio optio vel laudantium maxime! Placeat,
    aliquam sequi? Vero minus dignissimos molestiae optio enim iste voluptatem
    repellendus, voluptatibus dolores laborum?
  </p>
</main>
